body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-top {
  margin-top: 50px;
}

.relative {
  position: relative;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.img-thumb{
  position: relative;
}

.btn-thumb{
  cursor: pointer;
}


.img-thumb .thumb {
  background-color: #ebebeb;
  /* width: 100px; */
  min-height: 100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img-thumb .thumb img {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
}

.img-thumb .thumb-close{
  position: absolute;
  top: -15px;
  right: -10px;
  cursor: pointer;
}

.img-thumb .thumb-close img{
  width: 20px;
  height: 20px;
}

.upload-img{
  font-weight: 500;
  color: #fff;
}

.upload-btn-bg{
  background-color: #555aeb !important;
}

.remove-btn-bg{
  background-color: #d52c2c !important;
}

.danger-border{
 border: 1px solid #d52c2c;
}